Fabric_SCD_TYPE_2_data_piprline_project/project_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "source"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "MyFirstLakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "ccb62697-6e83-adef-4fe2-80e14cf8a5c4",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "dependsOn": [
          {
            "activity": "Script1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Metadata1').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "source",
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "MyFirstLakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "4cf8a5c4-80e1-4fe2-adef-6e83ccb62697",
                          "workspaceId": "bd866274-7f58-4cd8-9357-b54edeb14d40",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DataWarehouseSink",
                  "allowCopyCommand": true,
                  "copyCommandSettings": {},
                  "disableMetricsCollection": false,
                  "datasetSettings": {
                    "type": "DataWarehouseTable",
                    "typeProperties": {
                      "schema": "dbo",
                      "table": "stg_customer"
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "customer",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "dea745d3-f7de-4c92-926a-157df71fd5d0",
                          "endpoint": "fqxp3yc7jxjuzgg4fvuysuja24-orrinpkyp7meze2xwvhn5mknia.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "bd866274-7f58-4cd8-9357-b54edeb14d40"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "name": "customer_id",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "customer_id",
                        "physicalType": "varchar",
                        "length": "10"
                      }
                    },
                    {
                      "source": {
                        "name": "name",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "name",
                        "physicalType": "varchar",
                        "length": "100"
                      }
                    },
                    {
                      "source": {
                        "name": "address",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "address",
                        "physicalType": "varchar",
                        "length": "200"
                      }
                    },
                    {
                      "source": {
                        "name": "phone",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "phone",
                        "physicalType": "varchar",
                        "length": "20"
                      }
                    },
                    {
                      "source": {
                        "name": "last_updated",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "last_updated",
                        "physicalType": "datetime2",
                        "precision": 0
                      }
                    }
                  ],
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": true
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "state": "Inactive",
              "onInactiveMarkAs": "Succeeded",
              "dependsOn": []
            },
            {
              "type": "RefreshDataflow",
              "typeProperties": {
                "dataflowId": "483baa1c-85cf-4ef8-9a2f-c82890af4a80",
                "workspaceId": "bd866274-7f58-4cd8-9357-b54edeb14d40",
                "notifyOption": "NoNotification",
                "dataflowType": "DataflowFabric"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Dataflow1",
              "dependsOn": [
                {
                  "activity": "Copy data1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[sp_upsert_customer_scd2_1]"
        },
        "linkedService": {
          "name": "customer",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "dea745d3-f7de-4c92-926a-157df71fd5d0",
              "endpoint": "fqxp3yc7jxjuzgg4fvuysuja24-orrinpkyp7meze2xwvhn5mknia.datawarehouse.fabric.microsoft.com",
              "workspaceId": "bd866274-7f58-4cd8-9357-b54edeb14d40"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Stored procedure1",
        "dependsOn": [
          {
            "activity": "Dataflow2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "truncate table dbo.stg_customer",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "customer",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "dea745d3-f7de-4c92-926a-157df71fd5d0",
              "endpoint": "fqxp3yc7jxjuzgg4fvuysuja24-orrinpkyp7meze2xwvhn5mknia.datawarehouse.fabric.microsoft.com",
              "workspaceId": "bd866274-7f58-4cd8-9357-b54edeb14d40"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Script1",
        "dependsOn": []
      },
      {
        "type": "RefreshDataflow",
        "typeProperties": {
          "dataflowId": "90af4a80-c828-9a2f-4ef8-85cf483baa1c",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "notifyOption": "NoNotification",
          "dataflowType": "DataflowFabric"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Dataflow2",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}