Fabric_data_migration_project/migration_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "source"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "rawDataLakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "cd6b6590-2a89-8cce-440c-30eaf3be15dc",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select FileName from FileTracker;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "typeProperties": {
              "schema": "dbo",
              "table": "FileTracker"
            },
            "schema": [],
            "linkedService": {
              "name": "migration_dedicated",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "c24b232d-c9a7-4fc9-bec5-81e351a80601",
                  "endpoint": "fqxp3yc7jxjuzgg4fvuysuja24-lryuwqqlfhyuzphatojokr3txq.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "424b715c-290b-4cf1-bce0-9b92e54773bc"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Metadata1').output.childItems",
            "type": "Expression"
          },
          "condition": {
            "value": "@not(contains(string(activity('Lookup1').output.value), item().name))\n\n",
            "type": "Expression"
          }
        },
        "name": "Filter1",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Filter1').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "source",
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "rawDataLakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "cd6b6590-2a89-8cce-440c-30eaf3be15dc",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "migration"
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "migration",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "83777de9-c325-88de-49eb-dede70803ba1",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data from rawdata lakehouse to migration lakehouse",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Filter1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}